@if (normalizedValue()) {
  <figure [class]="'barcode barcode-' + size()">
    <svg
      role="img"
      [attr.aria-label]="'Code 128 barcode for ' + normalizedValue()"
      [attr.viewBox]="'0 0 ' + encoded().width + ' 64'"
      preserveAspectRatio="none"
    >
      <rect width="100%" height="100%" fill="white"></rect>
      @for (bar of encoded().bars; track $index) {
        <rect [attr.x]="bar.x" y="2" [attr.width]="bar.width" height="48"></rect>
      }
    </svg>
    <figcaption>{{ normalizedValue() }}</figcaption>
  </figure>
} @else {
  <span class="barcode-empty">Enter an SKU to generate its barcode</span>
}
